@font-face {
  font-family: 'RMNEue-Bold';
  src: url('./RMNeueTRIAL-Bold.otf');
  font-display: auto;
}

@font-face {
  font-family: 'RMNEue-Regular';
  src: url('./RMNeueTRIAL-Regular.otf');
  font-display: auto;
}
@font-face {
  font-family: 'RMNEue-Light';
  src: url('./RMNeueTRIAL-Light.otf');
  font-display: auto;
}
@font-face {
  font-family: 'NEOPIXEL-Regular';
  src: url('./NEOPIXEL-Regular.otf');
  font-display: auto;
}
@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('./JetBrainsMono-Bold.otf');
  font-display: auto;
}
@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('./JetBrainsMono-Regular.otf');
  font-display: auto;
}
@font-face {
  font-family: 'JetBrainsMono-SemiBold';
  src: url('./JetBrainsMono-SemiBold.otf');
  font-display: auto;
}
@font-face {
  font-family: 'JetBrainsMono-SemiBold';
  src: url('./JetBrainsMono-SemiBold.otf');
  font-display: auto;
}